.hightlight-green {
  background: #e8fec5;
  .btn-enroll {
    min-height: 48px;
    border-radius: 4px;
    padding: 12px 24px;
    background: #212529;
    cursor: pointer;
  }
}

//good-detail 按鈕設定
.size-button {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 24px;
  border: 1px solid #dee2ed;
  background: #fff;
  cursor: pointer;

  &:hover {
    border: 1px solid #6c757d;
  }
}
.btn-active {
  border: 1px solid #212529;
}
.btn-disable {
  cursor: not-allowed;
  &:hover {
    border: 1px solid #dee2ed;
  }
}
.btn-favorite {
  width: 259px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #212529;
  padding: 12px 24px;
  background: #fff;
  cursor: pointer;

  &:hover {
    background: #212529;
    color: #fff;
  }
  &.active {
    background-color: #fff;
    color: #000;
  }
}
.btn-booking {
  width: 259px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 24px;
  background: #212529;
  cursor: pointer;
}

//i標籤大小設定
.bi-heart {
  font-size: 19px;
}
.bi-heart-fill {
  font-size: 19px;
}
